<div class="container d-flex justify-content-center align-items-center">
  <div class="card col-8">
    <h4>Simulation de Crédit</h4>
    <div class="form-container d-flex flex-column col-4">
      <label for="">Montant du crédit</label>
      <input type="text" placeholder="montant..." />
      <label for="">Taux</label>
      <input type="text" placeholder="taux..." />
      <label for="">Durée</label>
      <input type="text" placeholder="durée..." />
      <button class="validation bgGreen">Valider</button>
    </div>
  </div>
</div>
