<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">Accueil</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/advisor/1/clients" routerLinkActive="active">mes clients</a>
    </li>

    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Virement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Simulation</a>
    </li> -->

    <!-- <li class="nav-item" >
        <button class="nav-link">Logout</button>
    </li>     -->

</ul>
