
.btn:hover,
.btn:focus,
.btn:active {
  outline: 0 !important;

}


.bgGreen{
  background-color: #00bc77;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  color: #fff;
}
hr{
  border: 1px solid #00bc77;
}

.fontColor{
  color: #00bc77;
}
.acc-fs{
  font-size: 14px;
}