<div class="card-container">
  <div class="content">
    <div class="main">
      <h3>{{ clientSelected.name }} {{ clientSelected.firstName }}</h3>
      <p>
        Adresse: {{ clientSelected.adress }}, {{ clientSelected.zipCode }}
        {{ clientSelected.city }}
      </p>
      <p>Numéro de téléphone: {{ clientSelected.phone }}</p>
      <hr />
      <div class="liste-comptes">
        <h5>Liste des Comptes</h5>
        <div
          *ngFor="let account of clientSelected.accountList"
          class="type-compte"
        >
          <p>Compte {{ account.accountStatus | accountStatusTranslation }}:</p>
          <p>N°</p>
        </div>
        <hr />
        <div class="summary">
          <p>Total Epargne:</p>
          <p>Statut Carte Bancaire : Active</p>
        </div>
      </div>
    </div>
    
    <hr />

    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="col-6 d-flex align-items-center justify-content-around">
        <button class="btn btn-success">Comptes</button>
        <button (click)="goToEditClient(clientSelected.id)" class="btn btn-primary">Edit</button>
      </div>
      <div class="col-2">
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
